 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    justify-content: center;
    padding: 0 20px;

  }

  .card {
    width: 309px;
    height: 380px;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
    margin-bottom: 50px;

    justify-content: space-between;
    align-items: center;
  }

  .card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .card span {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-bottom: 0 3rem;
    display: flex;
  }

  .card small {
    font-size: 0.8rem;
    color: #777;
    display: flex;
  }